<a routerLink="/home">Home</a>
<div *ngFor="let trip of tripsService.trips">
  {{ trip.owner.firstname }} {{ trip.owner.lastname | uppercase }} {{ trip.title }}
</div>
<p (click)="sortAsc(tripsService.trips, 'title')">triAsc</p>
<p (click)="sortDesc(tripsService.trips, 'title')">triDesc</p>