.home-container {
    display: flex;
    height: 100vh;

    a.semi {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.2;
        text-decoration: none;
        color: black;

        .title {
            flex: 0 0 10%;

            h1 {
                font-weight: lighter;
                text-align: center;
            }
        }   

        .background {
            flex: 0 0 90%;
            background-repeat: no-repeat;
            background-position: center;

            &.left {
                background-image: url("../../../assets/images/voyage.jpg");
            }

            &.right {
                background-image: url("../../../assets/images/ampoule.png");
            }   
        }
        
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}