<div class="home-container">
  <a routerLink="/dashboard" class="semi">
    <div class="title">
        <h1>MY TRIPS</h1>
    </div>  
    <div class="background left"></div>
  </a>
  <a routerLink="/trips" class="semi">
    <div class="title">
      <h1>IDEAS</h1>
    </div>
    <div class="background right"></div>
  </a>
</div>
