.container {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;

    .cards {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-height: 400px;
        overflow: scroll;
        background-color: #F8F8F8;
        border-radius: 5px;

        h3 {
            font-weight: lighter;
            text-align: center;
        }
    
        .card {
            border: 1px solid red;
            padding: 5%;
            margin: 5% 10%;
            border-radius: 4px;
            text-align: center;
            transition: 0.4s;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 30px 0px rgba(230,147,129,1);
                background-color: #F08578;
                color: white;
                transition: 0.4s;
            }
        }
    }

    .info {
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
        margin: 10%;
        text-align: center;
        position: sticky;

        h3 {
            font-weight: lighter;
        }
    }
}

.flex-row-box {
    display: flex;
    align-items: center;
    justify-content: space-around;

    label {
        flex: 0 1 30%;
        font-weight: lighter;
        font-size: 12px;
    }

    input {
        flex: 1 0 70%;
    }
}